
  <div id="content">
  </div>
  <div class="container">
    <mat-card id="contentToConvert">
      <h1>Barangay Clearance</h1>
        <div class="container">
          <div class="leftside">
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur incidunt placeat mollitia suscipit in tempora officiis quos cum nesciunt sint dolorum saepe quas magnam laudantium quod, maxime possimus ullam nihil amet eveniet consequuntur iste cumque vero harum? Rem cupiditate temporibus quia reiciendis quos fugit laborum ipsam veritatis nemo maiores? Dicta!
            </p>
          </div>

          <div class="rightside">

            <p><strong>{{ lastn }} {{ firstn }}, {{ midn }}</strong> ipsum dolor sit amet,<strong>{{houseN}} {{street}} street </strong>of this barangay elit. For the purpose of <strong>{{purpose}}</strong> velit debitis dolor officiis, nam nisi necessitatibus error illo ab! Vero dicta adipisci eligendi ipsam culpa nesciunt, blanditiis quibusdam molestias, obcaecati, porro cupiditate nam in totam. Qui officiis iure sit provident recusandae, expedita blanditiis quaerat vitae consequuntur distinctio. Vitae, harum amet soluta sapiente rem quasi iure? Omnis autem ratione repellat quo? Ipsum, facilis magnam molestiae nam quia vitae saepe cumque recusandae enim voluptatem dolore ex dignissimos deserunt ad sunt consequatur quae ipsam quam cum officiis quisquam. Aperiam perferendis temporibus libero veritatis magni eos a, laborum officia suscipit!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium suscipit vitae ex possimus. Dolore ratione neque alias voluptate at distinctio temporibus doloribus pariatur recusandae, praesentium vitae, ad cumque error hic reiciendis adipisci quidem nemo dicta? Ullam, rem laborum natus quo sequi blanditiis molestiae vero eos? Repudiandae, eligendi fugiat itaque laborum doloremque labore consequatur odit. Ea eum in cupiditate culpa voluptas a voluptatem nobis soluta enim minus asperiores natus id eius obcaecati suscipit expedita, repellat sed, unde ducimus quibusdam possimus! Fugit, quia impedit unde deserunt consequatur ut ab ea illum fuga nesciunt! Nesciunt perspiciatis commodi excepturi ex quis nobis, voluptatem facere?</p>
          </div>
        </div>


    </mat-card>


  </div>


<button mat-stroked-button color="primary" type="button" routerLink="/brgy-clearance" >Back</button>

<button mat-raised-button color="primary" type="button"  value="Convert" (click)="convetToPDF()" >Download</button>
