
      <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card style="width: 90%;" class="shipping-card">

            <h1 class="poppins-bold">Name</h1>
            <div class="zontaline"></div>

            <div class="namediv">
            <div class="row">

              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput placeholder="Last name" formControlName="lastName">
                  <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
                    Last name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput placeholder="First name" formControlName="firstName">
                  <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field  appearance="outline" class="full-width">
                  <input matInput placeholder="Middle name" formControlName="midName">
                  <mat-error *ngIf="addressForm.controls['midName'].hasError('required')">
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
          </div>
            <h1 class="poppins-bold">Residence</h1>
            <div class="zontaline"></div>
            <div class="residencediv">
                <div class="row">
                  <div class="col">
                        <mat-form-field   appearance="outline">
                          <textarea matInput placeholder="House Number" ></textarea>
                          <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                            Address is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field  appearance="outline">
                      <textarea matInput placeholder="Street" ></textarea>
                      <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                        Address is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>
              </div>

              <h1 class="poppins-bold">Other Details</h1>
              <div class="zontaline"></div>
              <div class="otherdetails">
                <div class="row">
                  <div class="col">

                    <mat-form-field  appearance="outline" class="full-width">
                      <input matInput placeholder="Purpose" formControlName="purpose">
                      <mat-error *ngIf="addressForm.controls['purpose'].hasError('required')">
                        Purpose is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </mat-card-actions>
        </mat-card>
      </form>
