
<div class="sidenavbar">
  <!-- NAVBAR -->
  <!-- SIDENAV -->
  <mat-sidenav-container autosize>

      <mat-sidenav #drawer mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
              <img class="bms-logo" src="/assets/logo_SIA.png">
              <mat-divider [vertical]="false"></mat-divider>
              <h3>RESIDENTS</h3>
          <button mat-button class="sidebarcontent" routerLink="/home" routerLinkActive="selected"><mat-icon  class="sidenavBtn">dashboard</mat-icon> Dashboard</button><br>
          <button mat-button class="sidebarcontent" routerLink="/documentRecords" ><mat-icon  class="sidenavBtn">table_chart</mat-icon> Issued Documents</button><br>
          <mat-divider [vertical]="false"></mat-divider>
          <h3>DOCUMENTS</h3>
          <button mat-button class="sidebarcontent" routerLink="/brgy-clearance" routerLinkActive="selected"><mat-icon class="sidenavBtn" routerLinkActive="selected">description</mat-icon>Barangay Clearance</button><br>
          <button mat-button class="sidebarcontent" routerLink="/indigency" routerLinkActive="selected"><mat-icon class="sidenavBtn">description</mat-icon>Certificate of Indigency</button><br>
          <button mat-button class="sidebarcontent"  routerLink="/residency" routerLinkActive="selected"><mat-icon class="sidenavBtn">description</mat-icon>Certificate of Residency</button><br>
      </mat-sidenav>


          <div class="navbar">
              <mat-toolbar class="blue-color">
                <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                  <mat-icon [ngStyle]="{'color': 'white'}">menu</mat-icon>
                </button>
                <h4 class="title-system">Document Issuance System</h4>
                <span class="example-spacer"></span>
                <img class="user-profile" src="/assets/avatar1.png">
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="logout()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                  <mat-icon [ngStyle]="{'color': 'white'}">logout</mat-icon>
                </button>
              </mat-toolbar>

          </div>

<!--  -->
    <form  #addForm='ngForm' novalidate (ngSubmit)="onSubmit(addForm.value)">
      <mat-card style="width: 90%;" class="shipping-card">
        <h2>Barangay Clearance</h2>
              <hr>
      <div class="modalFields">
        <mat-list role="list">
            <mat-list-item class="fieldNames"role="listitem">First Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Middle Name</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Last Name</mat-list-item>
        </mat-list>

        <div class="inputs">

            <mat-form-field appearance="outline">
            <input class="blotterInfo" matInput   name="firstName" [(ngModel)]="residentModel.firstName">
            </mat-form-field>

            <mat-form-field appearance="outline">
            <input class="blotterInfo" matInput  name="middleName" [(ngModel)]="residentModel.midName">
            </mat-form-field>

            <mat-form-field appearance="outline">
            <input class="blotterInfo" matInput  name="lastName" [(ngModel)]="residentModel.lastName">
            </mat-form-field>


        </div>

        <mat-list role="list" class="rightside">
            <mat-list-item class="fieldNames"role="listitem">House Number</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Street</mat-list-item>
            <mat-list-item class="fieldNames"role="listitem">Purpose</mat-list-item>
        </mat-list>

        <div class="inputs2">
            <mat-form-field appearance="outline">
            <input class="blotterInfo" matInput name="houseNum" [(ngModel)]="residentModel.houseNum">
            </mat-form-field>

            <mat-form-field appearance="outline">
            <input class="blotterInfo" matInput  name="street" [(ngModel)]="residentModel.street">
            </mat-form-field>

            <mat-form-field appearance="outline">
            <input class="blotterInfo" matInput name="purpose" [(ngModel)]="residentModel.purpose">
            </mat-form-field>
            <mat-card-actions class="btn-generate">
              <button  mat-raised-button color="secondary" type="reset">Clear</button>
              <button  mat-raised-button color="primary" type="submit">Generate</button>

            </mat-card-actions>
        </div>
       </div>
      </mat-card>
    </form>


  </mat-sidenav-container>
