<!-- DASHBOARD COMPONENT -->
<div class="sidenavbar">
  <!-- NAVBAR -->
  <!-- SIDENAV -->
  <mat-sidenav-container autosize>

      <mat-sidenav #drawer mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
              <img class="user-profile" src="/assets/avatar1.png">
              <h2 style="color: #020101">ADMIN</h2>
              <mat-divider [vertical]="false"></mat-divider>
          <button mat-button class="sidebarcontent" routerLink="/home" routerLinkActive="selected"><mat-icon style="margin-left: -38px; margin-right: 5px;" class="sidenavBtn">dashboard</mat-icon> Dashboard</button><br>
          <button mat-button class="sidebarcontent" routerLink="/documentRecords" ><mat-icon style="margin-left: -38px; margin-right: 5px;" class="sidenavBtn">dashboard</mat-icon> Issued Documents</button><br>

          <h3 style="color: #020101">Documents</h3><br>
              <mat-divider [vertical]="false"></mat-divider>
          <button mat-button class="sidebarcontent" routerLink="/brgy-clearance" routerLinkActive="selected"><mat-icon class="sidenavBtn">description</mat-icon>Barangay Clearance</button><br>
          <button mat-button class="sidebarcontent" routerLink="/indigency" routerLinkActive="selected"><mat-icon class="sidenavBtn">description</mat-icon>Certificate of Indigency</button><br>
          <button mat-button class="sidebarcontent"  routerLink="/residency" routerLinkActive="selected"><mat-icon class="sidenavBtn">description</mat-icon>Certificate of Residency</button><br>
      </mat-sidenav>

      <mat-sidenav-content>

          <div class="navbar">
              <mat-toolbar class="blue-color">
                <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                  <mat-icon>menu</mat-icon>
                </button>
                <h1 style="color: #ffffff">Document Issuance: Dashborad</h1>

                <span class="example-spacer"></span>
                <button mat-icon-button (click)="logout()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                  <mat-icon>logout</mat-icon>
                </button>
              </mat-toolbar>
          </div>
  {{token}}
  <div class="gridCon">
    <mat-card class="sqCard">CARD1</mat-card>
    <mat-card class="sqCard">CARD2</mat-card>
    <mat-card class="sqCard">CARD3</mat-card>
  </div>
            <div class="gridCon">
              <mat-card class="bgrCard">
                <h2>Issued Documents Chart</h2>
                <div style="display: block; margin-top: 50px;">
                  <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
                  </canvas>
                </div>
              </mat-card>
              <mat-card class="bgrCard">
                <h2>Issued Documents per Month</h2>
                <div style="display: block;">
                  <canvas baseChart width="300" height="300"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                  </canvas>
                </div>
              </mat-card>
          </div>
          
          <div class="gridCon">
            <mat-card class="sqCard">CARD4</mat-card>
            <mat-card class="sqCard">CARD5</mat-card>
            <mat-card class="sqCard">CARD6</mat-card>
          </div>


</mat-sidenav-content>
</mat-sidenav-container>
