<!-- DASHBOARD COMPONENT -->
<div class="sidenavbar">
  <!-- NAVBAR -->
  <!-- SIDENAV -->
  <mat-sidenav-container autosize>

      <mat-sidenav #drawer mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()" class="mat-sidenav-style">
              <img class="bms-logo" src="/assets/logo_SIA.png">
              <mat-divider [vertical]="false"></mat-divider>
              <h3>RESIDENTS</h3>
          <button mat-button class="sidebarcontent" routerLink="/home" routerLinkActive="selected"><mat-icon  class="sidenavBtn" routerLinkActive="selected">dashboard</mat-icon> Dashboard</button><br>
          <button mat-button class="sidebarcontent" routerLink="/documentRecords" ><mat-icon class="sidenavBtn">table_chart</mat-icon> Issued Documents</button>
              <mat-divider [vertical]="false"></mat-divider>
              <h3>DOCUMENTS</h3>
          <button mat-button class="sidebarcontent" routerLink="/brgy-clearance" routerLinkActive="selected"><mat-icon class="sidenavBtn">description</mat-icon>Barangay Clearance</button><br>
          <button mat-button class="sidebarcontent" routerLink="/indigency" routerLinkActive="selected"><mat-icon class="sidenavBtn">description</mat-icon>Certificate of Indigency</button><br>
          <button mat-button class="sidebarcontent"  routerLink="/residency" routerLinkActive="selected"><mat-icon class="sidenavBtn">description</mat-icon>Certificate of Residency</button><br>
      </mat-sidenav>

      <mat-sidenav-content>

          <div class="navbar">
              <mat-toolbar class="blue-color">
                <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                  <mat-icon [ngStyle]="{'color': 'white'}">menu</mat-icon>
                </button>
                <h4 class="title-system">Document Issuance System</h4>
                <span class="example-spacer"></span>
                <img class="user-profile" src="/assets/avatar1.png">
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="logout()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                  <mat-icon [ngStyle]="{'color': 'white'}">logout</mat-icon>
                </button>
              </mat-toolbar>
              <h2>Dashboard</h2>
              <hr>
          </div>

          <div class="dashboardCard">
            <mat-card class="docu-card" style="background-color: #d00030d6; color: #ffffff;">
                <mat-card-content >
                    <p class="poppins">QWER</p>
                </mat-card-content>
                <mat-card-title class="poppins" style="font-size:25px;">Step 1</mat-card-title>
                <mat-icon class="unsettledicon">done_all</mat-icon>
                <img mat-card-image src="/assets/unsettled.png"class="unsettledicon">
            </mat-card>

            <mat-card class="docu-card" style="background-color: #0b8e45d1; color: #ffffff;">
                <mat-card-content>
                    <p>QWER</p>
                </mat-card-content>
                <mat-card-title class="poppins" style="font-size:25px;">Step 2</mat-card-title>
                <img mat-card-image src="/assets/settled.png"class="settledicon">
            </mat-card>

            <mat-card class="docu-card" style="background-color: #da4516d1; color: #ffffff;">
                <mat-card-content >
                    <p>QWER</p>
                </mat-card-content>
                <mat-card-title class="poppins" style="font-size:25px;">Step 3</mat-card-title>
                <img mat-card-image src="/assets/unschedule.png" class="unscheduleicon">
            </mat-card>

        </div>


            <div class="gridCon">
              <mat-card class="bgrCard" >
                <h2 style="text-align: center;">Issued Documents Chart</h2>
                <div style="display: block; margin-top: 50px;">
                  <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
                  </canvas>
                </div>

              </mat-card>
              <mat-card class="bgrCard" >
                <h2 style="text-align: center;">Issued Documents per Month</h2>
                <div style="display: block;">
                  <canvas baseChart width="300" height="160"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                  </canvas>
                </div>
              </mat-card>
          </div>
</mat-sidenav-content>
</mat-sidenav-container>
